Repository jenkins-x/jx-api, pull requests merged in 2021-05, with the labels that each got.

#142 feat: added extraDomains to ingress config
  pkg/apis/core/v4beta1/requirements.go
  pkg/apis/core/v4beta1/requirements_test.go
  schema/core.jenkins-x.io/v4beta1/requirements.json
Labels: approved, lgtm, ok-to-test, size/S

#143 fix: make extraDomains cleaner and less confusing
  pkg/apis/core/v4beta1/requirements.go
  pkg/apis/core/v4beta1/requirements_test.go
  schema/core.jenkins-x.io/v4beta1/requirements.json
Labels: approved, lgtm, ok-to-test, size/M

#144 chore: regen docs
  Makefile
  docs/apidocs.md
  docs/config.md
  go.mod
  go.sum
  schema/core.jenkins-x.io/v4beta1/requirements.json
Labels: approved, size/M
